<nav class="navegacionAdmin">
        <a href="/admin" id="botonVer" class="<%= activo === 'ver' ? 'botonAdminActivo' : '' %>">Ver</a>
        <a href="/admin/consultar" id="botonConsultar" class="<%= activo === 'consultar' ? 'botonAdminActivo' : '' %>">Consultar</a>
        <a href="/admin/crear" id="botonCrear" class="<%= activo === 'crear' ? 'botonAdminActivo' : '' %>">Crear</a>
        <a href="/admin/modificar" id="botonModificar" class="<%= activo === 'modificar' ? 'botonAdminActivo' : '' %>">Modificar</a>
        <a href="/admin/eliminar" id="botonEliminar" class="<%= activo === 'eliminar' ? 'botonAdminActivo' : '' %>">Eliminar</a>
        <a href="/logout" id="botonLogout">Cerrar sesión</a>
    </nav>